{% extends 'showcase/layout.html.twig' %}

{% block title %}Coming Soon{% endblock %}

{% block body %}
    <h1>Depense.Net</h1>

    <p>
        Track your expenses and visualize your daily transactions more elegantly for better decision-making
    </p>

    <p>Something so special is coming soon, stay tuned.</p>

    <p>
        For more details, contact <a href="mailto:rg@mate.tn">the administrator</a>.
    </p>
{% endblock %}
